# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
dist/
.vite/

# Capacitor
/android/
 /ios/
capacitor.config.json.backup

# Build artifacts
build/
*.log
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Cache
.cache/
.temp/
.tmp/
.eslintcache

# Lock files (optional)
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE folders
.vscode/
.idea/

# OS
Thumbs.db
